*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: rgb(255, 255, 255); /* white, #FFFFFF */
	margin-top: 1em;
	margin-left: 2em;
	font-family: elza-text, sans-serif;
	font-weight: 300;
	line-height: 1.2;
	font-style: normal;
}

b {
	font-family: elza-text, sans-serif;
	font-weight: 600;
	font-style: normal;
}

p {
	margin: 0 0 1em 0;
	max-width: 35em;
	font-size: 20px;
	top: 0;
}

h1 {
	margin: 0;
	font-size: 50px;
	padding-top: 50px;
}

h4 {
	margin-top: 0;
}

iframe {
	margin: 0;
	display: block;
	border: none;
	
}

header,
section {
	display: grid;
	grid-template-columns: 0.8fr 4.5fr;
	margin-bottom: 0.5em;
	padding-top: 0.5em;
}

.filetto {
	border-top: solid 1px rgb(0, 0, 0);
}

.titolo-sezione {
	margin-right: 0em;
	margin-top: 5px;
	margin-left: 10px;
	color: #EF6060;
}

.contenitore {
	 max-width:  100%;
}

ul {
	margin: 0;
	padding: 0;
}

.contenuto-sezione{
	color: black;
	margin-top: 5px;
}

.container{
	width: 100%;
	height: 100vh;
	background-color: #EF6060;
	margin: 0;
	padding: 0;
	display:block;
}

#delaunay{
	background-color: transparent;
	position:absolute;
	font-size: 15px;
	font-weight: 500;
	border: none;
	color: #EF6060;
	right: 100px;
	padding-top: 86px;
	float:right;
	}


#voronoi{
	background-color: transparent;
	position:absolute;
	font-size: 15px;
	font-weight: 500;
	border: none;
	color: #EF6060;
	right: 15px;
	padding-top: 86px;
	float: right;
}

.page{
	padding: 0;
	margin:0;
}

